#jinja2: lstrip_blocks: "True", trim_blocks: "True"
---
apiVersion: v1
kind: Secret
metadata:
  name: irp-services
  labels:
    app: irp
data:
  irp-services.yaml: {% filter b64encode %}
- name: conductor-bgp-feed
  kind: bgp_feed_conductor
  parameters:
    url: http://irp-conductor-bgp-feed
  labels: []
- name: quality_solver
  kind: quality_solver
  parameters:
    url: http://irp-quality-solver
  labels: []
- name: irp_botnet_collector
  kind: irp_botnet_collector
  parameters:
    url: http://irp-botnet-collector
  labels: []
- name: postgres
  kind: postgres
  parameters:
{% if postgres_k8s %}
    host: postgres-cluster-rw
{% else %}
    host: {{ hostvars[groups.postgres[0]].ansible_host }}
{% endif %}
    port: 5432
    db: {{ postgres_db_name }}
    user: {{ postgres_db_username }}
    password: {{ postgres_db_password }}
  labels: []
{% for db in clickhouse_central_dbs|d([]) %}
- name: {{ db.name }}_db
  kind: clickhouse
  parameters:
{% if clickhouse_k8s %}
    host: clickhouse
{% else %}
    host: {{ hostvars[db.host].ansible_host }}
{% if hostvars[db.host].public_ip is defined %}
    public_ip: {{ hostvars[db.host].public_ip }}
{% endif %}
{% endif %}
    db: {{ db.name }}
    port: 8123
    user: {{ db.user }}
    password: {{ db.password }}
  labels:
    - {{ db.name }}
{% endfor %}
- name: redis
  kind: redis
  parameters:
    host: rfs-redis-quality-solver
    port: 26379
    master-name: mymaster
    password: {{ redis_password }}
  labels:
    - quality_solver
{% for server in flow_storage_clickhouse|d([]) %}
- name: flow-storage-{{ server.hosts | join("-") }}
  kind: clickhouse
  parameters:
    hosts: {{ server.hosts }}
    port: 8123
    db: {{ server.db }}
    user: {{ server.user }}
    password: {{ server.password }}
  labels:
    - flow-storage
{% endfor %}
{% endfilter %}