apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJodHRwczovL2NyLnNlcnZlcnMuY29tIjp7InVzZXJuYW1lIjoicm9ib3QkaXJwLWRlditrOHMiLCJwYXNzd29yZCI6IkFIN3JFTE9iSlpCYlltZ0FKRHJSZ0ZiMk85QmJYd3A2IiwiZW1haWwiOiJzaWRAc2VydmVycy5jb20iLCJhdXRoIjoiY205aWIzUWthWEp3TFdSbGRpdHJPSE02UVVnM2NrVk1UMkpLV2tKaVdXMW5RVXBFY2xKblJtSXlUemxDWWxoM2NEWT0ifX19
kind: Secret
metadata:
  name: cr.servers.com-irp-dev-secret
type: kubernetes.io/dockerconfigjson
