[exabgp.api]
encoder = text
highres = false
respawn = false
socket = ''
pipename = '{{ item.name }}'
cli = true

[exabgp.bgp]
openwait = 60

[exabgp.cache]
attributes = true
nexthops = true

[exabgp.daemon]
daemonize = false
drop = true
pid = ''
user = '{{ irp_user }}'

[exabgp.log]
all = false
configuration = true
daemon = true
enable = true
level = WARNING
message = false
network = true
packets = false
parser = false
processes = true
reactor = true
rib = false
routes = false
short = false
timers = false

[exabgp.pdb]
enable = false

[exabgp.profile]
enable = false
file = ''

[exabgp.reactor]
speed = 1.0

[exabgp.tcp]
acl = false
bind = ''
delay = 0
once = false
port = 179
