[Journal]
Storage=persistent
Compress=64
Seal=no
SplitMode=none
SystemMaxUse=4G
SystemMaxFiles=100
ForwardToSyslog=no
ForwardToKMsg=no
ForwardToConsole=no
ForwardToWall=no
#TTYPath=/dev/console
#MaxLevelStore=debug
#MaxLevelSyslog=debug
#MaxLevelKMsg=notice
#MaxLevelConsole=info
#MaxLevelWall=emerg
#LineMax=48K
ReadKMsg=no
