---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-users
data:
  k8s_users.xml: |
    <clickhouse>
      <users>
{% for db in clickhouse_central_dbs %}
        <{{ db.user }}>
            <password>{{ db.password }}</password>
            <networks>
                <ip>0.0.0.0/0</ip>
            </networks>
            <profile>{{ db.profile | d("default") }}</profile>
            <quota>{{ db.quota | d("default") }}</quota>
            <allow_databases>
                <database>{{ db.name }}</database>
            </allow_databases>
        </{{ db.user }}>
{% endfor %}
      </users>
    </clickhouse>
