---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: clickhouse
  name: clickhouse
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: clickhouse
      app.kubernetes.io/name: clickhouse
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: clickhouse
        app.kubernetes.io/name: clickhouse
    spec:
      containers:
      - image: clickhouse/clickhouse-server:22.3
        name: clickhouse
        ports:
        - containerPort: 8123
          name: http
          protocol: TCP
        - containerPort: 9000
          name: client
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/clickhouse-server/users.d
          name: clickhouse-users
          readOnly: true
        - mountPath: /docker-entrypoint-initdb.d
          name: clickhouse-init-script
          readOnly: true
      restartPolicy: Always
      volumes:
      - name: clickhouse-users
        projected:
          sources:
          - configMap:
              name: clickhouse-users
      - name: clickhouse-init-script
        projected:
          sources:
          - configMap:
              name: clickhouse-init-script
