server {
    listen *:{{ irp_quality_solver_external_port }} default_server;
    location / {
        proxy_pass http://127.0.0.1:{{ irp_quality_solver_local_port }};
        proxy_http_version  1.1;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
    }
{% for rule in nginx_allowed_ips|d([]) %}
    allow {{ rule.cidr }};  # {{ rule.name }}
{% endfor %}

{% for host in nginx_allowed_hosts|d([]) %}
    allow {{ hostvars[host].ansible_host }};  # {{  hostvars[host].inventory_hostname }}
{% for ip in hostvars[host].ipv4_additional_addresses|d([]) %}
    allow {{ ip }};  # {{ hostvars[host].inventory_hostname }}
{% endfor %}
{% endfor %}
    deny all;

    error_page 403 =404 @notfound;

    location @notfound {
        return 404;
    }
}
